<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Law Suite</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <div id="main">


        <!-- Loader -->
        <div id="loader" data-scroll-section>
            <div class="color-overlay"></div>
            <video autoplay loop muted id="loader-video" src="../static/resouces/line_animation.mp4"
                class="absolute top-0 left-0 w-full h-full object-cover"></video>
            <div>
                <span id="loader-start-text" class="gradient-text">Welcome!</span>
                <span id="loader-mid-text" class="gradient-text">Unlock <em>Justice</em> <br> <em>in a</em>
                    snap...</span>
                <span id="loader-end-text" class="gradient-text">LAW SUITE</span>
            </div>
        </div>


        <!-- Navigation -->
        <nav class="fixed w-full z-20 top-0 start-0 backdrop-blur" style="position: absolute; color: #fffce1;">
            <div class="container mx-auto px-4 py-2 flex justify-between items-center">
                <div class="text-lg font-bold" id="nav">
                    L <span style="color: #37d151;">S</span>
                </div>
                <div class="space-x-6">
                    <a href="#page2" data-scroll data-scroll-to="#page2">What</a>
                    <a href="#page3" data-scroll data-scroll-to="#page3">Instructions</a>
                    <a href="#model-connector" data-scroll data-scroll-to="#model-connector">AskAI</a>
                </div>
            </div>
            <hr id="nav" style="border-top: 1px solid #797a6f;">
        </nav>


        <!-- Page 1 -->
        <div id="page1" data-scroll-section>
            <!-- <img src="../static/resouces/gradient_backgroud.jpg" alt=""> -->
            <h1 id="page1-heading">LAW SUITE</h1>
            <div>
                <span id="get-started-btn"
                    class="bt px-8 py-3 border font-bold rounded-full transition duration-300 text-center"> Scroll to
                    get started
                </span>
            </div>
        </div>


        <!-- Page 3 -->
        <div id="page3" data-scroll-section data-scroll-speed="2" style="color: #fffce1;">
            <div class="page3-content">
                <div id="model-connector" class="page3-text">
                    <br>
                    <h2>Here you <span style="color: rgb(103, 123, 255);">go</span></h2>
                </div>
                <form id="predict-form" method="post">
                    <div class="input-container">
                        <textarea id="prompt-textarea" name="user_input" placeholder="Enter your legal prompt..."
                            oninput="resizeTextarea()"></textarea>
                        <button id="predict-button" type="submit">Recommend</button>
                    </div>
                </form>
                <div id="result-container"></div>

                <div class="page3-text">
                    <br>
                    <h2>Usage <span style="color: #ec780a;">Instructions</span></h2>
                    <p style="color: #8d8e88;">Please use legal terminology effectively for accurate results. For
                        example, prompts such as "a guy kissed me when I didn't want him to" may not yield effective
                        results unless <span style="color: #fffce1;">keywords like "Harassment" or "rape"
                            are included</span> in your query. Ensure your prompt is <span style="color: #fffce1;">clear
                            and specific</span> to receive accurate predictions.
                    </p><br>
                </div>

            </div>
        </div>


        <!-- Page 2 -->
        <div id="page2" data-scroll-section data-scroll-speed="1" style="color: #fffce1;">
            <div class="page2-content">
                <div class="page2-text"">
                    <h2>What is Law <span style=" color: #37d151;">Suite</span>?</h2>
                    <p style="color: #8d8e88;">Law Suite revolutionizes legal research with cutting-edge AI, delivering
                        swift access to precise legal codes and clauses. Seamlessly integrating advanced Machine
                        Learning techniques, it swiftly deciphers complex legal queries, empowering lawyers and
                        professionals alike. Whether navigating statutes or drafting legal documents, Law Suite ensures
                        accuracy and efficiency, <span style="color: #fffce1;">redefining how legal expertise is
                            accessed
                            and applied</span>. Simplify your legal journey with Law Suite – where innovation meets
                        reliability in every case.</p>
                </div>
                <div class="page2-features">
                    <h2>Features</h2>
                    <table class="table-auto">
                        <tbody>
                            <tr>
                                <td class="px-4 py-2">Enhanced Productivity</td>
                                <td class="px-4 py-2">Enables quicker access to relevant legal information, enhancing
                                    overall productivity</td>
                            </tr>
                            <tr>
                                <td class="border px-4 py-2">Up-to-Date</td>
                                <td class="border px-4 py-2">Bhartiya Nyaya Sahita 2023</td>
                            </tr>
                            <tr>
                                <td class="border px-4 py-2">User-Friendly Interface</td>
                                <td class="border px-4 py-2">Simple and intuitive interface for easy input and retrieval
                                    of legal information.</td>
                            </tr>
                            <tr>
                                <td class="border px-4 py-2">Pricing</td>
                                <td class="border px-4 py-2">&#8377 0 (Free)</td>
                            </tr>
                            <tr>
                                <td class="border px-4 py-2" colspan="2">*Exclusively designed to adhere to the laws of
                                    India, as stipulated by the Government of India.</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <video autoplay loop muted src="../static/resouces/animation_2.mp4"></video>
            </div>
        </div> 

        <hr class="separator-line" data-scroll-section>

        <!-- Footer  -->
        <footer class="footer" data-scroll-section>
            <div class="footer-content">
                <div class="footer-section-head">
                    <h4>Law <span style="color: #37d151;">Suite</span></h4>
                    <p>Unlock <em>Justice</em> in a snap</p>
                    <p>&copy Law Suite 2024</p>
                </div>
                <div class="footer-section legal">
                    <h4><span style="color: #ec780a;">Legal</span></h4>
                    <ul>
                        <li><a href="terms">Terms of use</a></li>
                        <li><a href="https://www.mha.gov.in/en" target="_blank">Ministry of Home Affairs</a></li>
                        <li><a href="https://www.mha.gov.in/en/commoncontent/new-criminal-laws" target="_blank">New
                                Criminal Laws</a></li>
                        <li><a href="https://ecourts.gov.in/ecourts_home/" target="_blank">eCourt</a></li>
                        <li><a href="https://filing.ecourts.gov.in/pdedev/" target="_blank">eFilling Service</a></li>
                    </ul>
                </div>
                <div class="footer-section company">
                    <h4><span style="color: #ff00ff;">Company</span></h4>
                    <ul>
                        <li><a href="about">About</a></li>
                        <li><a href="contact">Contact Us</a></li>
                    </ul>
                </div>
                <div class="footer-section socials">
                    <h4><span style="color: rgb(103, 123, 255);">Socials</span></h4>
                    <ul>
                        <li><a href="#">GitHub</a></li>
                        <li><a href="https://www.linkedin.com/in/daksh-deep-791a1a298/" target="_blank">Daksh's LinkedIn</a></li>
                        <li><a href="https://www.linkedin.com/in/yashvi-arya-1455a7230/" target="_blank">Yashvi's LinkedIn</a></li>
                    </ul>
                </div>
            </div>
        </footer>

        <!-- -- Scroll to top button --  -->
        <button id="scroll-to-top-btn" title="Go to top">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18">
                </path>
            </svg>
        </button>


        <!-- JavaScripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@beta/bundled/locomotive-scroll.min.js"></script> -->
        <script src="../static/script.js"></script>
</body>

</html>