<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Law Suite - Contacts</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="stylesheet" href="../static/style.css">

    <style>
        nav {
            display: block;
            opacity: 1;
            position: fixed;
            top: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, 0);
            transition: opacity 0.2s ease;
        }

        nav a {
            color: #797a6f;
        }

        nav a:hover {
            color: #fffce1;
        }
    </style>

</head>

<body>
    <div id="main" data-scroll-container>
        <!-- Contact Us Page -->
        <div id="maintenance" data-scroll-section data-scroll-speed="2" style="color: #fffce1;">
            <div class="maintenance-content">
                <div class="maintenance-text text-center">
                    <br>
                    <h2>Maintenance <span style="color: #ff00ff;">Break</span></h2>
                    <h3>The site is under maintenance. We'll be right back in a while.<span</h2>
                    <p style="color: #8d8e88;">Thank you for choosing Law Suite</p>
                </div>
            </div>
        </div>

        <!-- JavaScripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@beta/bundled/locomotive-scroll.min.js"></script> -->
        <script src="../static/script.js"></script>
</body>

</html>