<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Law Suite - Terms</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+NO:wght@100..400&display=swap" rel="stylesheet">

    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.css">
    <link rel="stylesheet" href="../static/style.css">

    <style>
        nav {
            display: block;
            opacity: 1;
            position: fixed;
            top: 0;
            width: 100%;
            background-color: rgba(255, 255, 255, 0);
            transition: opacity 0.2s ease;
        }

        nav a {
            color: #797a6f;
        }

        nav a:hover {
            color: #fffce1;
        }
    </style>

</head>

<body>
    <div id="main" data-scroll-container>

        <!-- Navigation -->
        <nav class="fixed w-full z-20 top-0 start-0 backdrop-blur" style="position: absolute; color: #fffce1;">
            <div class="container mx-auto px-4 py-2 flex justify-between items-center">
                <div class="text-lg font-bold" id="nav">
                    L <span style="color: #37d151;">S</span>
                </div>
                <div class="space-x-6">
                    <a href="/">Home</a>
                </div>
            </div>
            <hr id="nav" style="border-top: 1px solid #797a6f;">
        </nav>

        <br><br>
        <!-- Terms and Conditions Page -->
        <div id="page3" data-scroll-section data-scroll-speed="2" style="color: #fffce1;">
            <div class="page3-content">
                <div class="page3-text">
                    <br>
                    <h2>Terms and <span style="color: rgb(103, 123, 255);;"> Conditions</span></h2>
                    <h2 style="font-size: 2rem;">Introduction</h2>
                    <p>
                        Welcome to Law Suite. These terms and conditions outline the rules and regulations for the use of our website and services. By accessing this website, you agree to abide by these terms and conditions. If you do not agree with any part of these terms, please do not use our website.
                    </p><br>
                    <h2 style="font-size: 2rem;">License to Use Website</h2>
                    <p>
                        Unless otherwise stated, Law Suite and/or its licensors own the intellectual property rights published on this website and materials used on Law Suite. You may view, download for caching purposes only, and print pages or other content from the website for your own personal use, subject to the restrictions set out below and elsewhere in these terms and conditions.
                    </p><br>
                    <h2>Acceptable Use</h2>
                    <p>
                        You must not use this website in any way that causes, or may cause, damage to the website or impairment of the availability or accessibility of the website. You must not use this website in any way that is unlawful, illegal, fraudulent, or harmful, or in connection with any unlawful, illegal, fraudulent, or harmful purpose or activity. You must not use this website to copy, store, host, transmit, send, use, publish, or distribute any material which consists of (or is linked to) any spyware, computer virus, Trojan horse, worm, keystroke logger, rootkit, or other malicious computer software. You must not conduct any systematic or automated data collection activities (including without limitation scraping, data mining, data extraction, and data harvesting) on or in relation to this website without Law Suite's express written consent.
                    </p><br>
                    <h2>Data Usage</h2>
                    <p>
                        Law Suite may collect and utilize user data to enhance our AI technology and improve our services. By using our website, you grant Law Suite permission to use your data as described in these terms and conditions.
                    </p><br>
                    <h2>No Warranties</h2>
                    <p>
                        This website is provided “as is” without any representations or warranties, express or implied. Law Suite makes no representations or warranties in relation to this website or the information and materials provided on this website. Without prejudice to the generality of the foregoing paragraph, Law Suite does not warrant that this website will be constantly available, or available at all; or that the information on this website is complete, true, accurate, or non-misleading.
                    </p><br>
                    <h2 style="font-size: 2rem;">Limitations of Liability</h2>
                    <p>
                        Law Suite will not be liable to you (whether under the law of contact, the law of torts, or otherwise) in relation to the contents of, or use of, or otherwise in connection with, this website: to the extent that the website is provided free-of-charge, for any direct loss; for any indirect, special, or consequential loss; or for any business losses, loss of revenue, income, profits, or anticipated savings, loss of contracts or business relationships, loss of reputation or goodwill, or loss or corruption of information or data.
                    </p><br>
                    <h2>Variation</h2>
                    <p>
                        Law Suite may revise these terms and conditions from time-to-time. Revised terms and conditions will apply to the use of this website from the date of the publication of the revised terms and conditions on this website. Please check this page regularly to ensure you are familiar with the current version.
                    </p><br>
                    <h2 style="font-size: 2rem;">Assignment</h2>
                    <p>
                        Law Suite may transfer, sub-contract, or otherwise deal with Law Suite’s rights and/or obligations under these terms and conditions without notifying you or obtaining your consent. You may not transfer, sub-contract, or otherwise deal with your rights and/or obligations under these terms and conditions.
                    </p><br>
                    <h2>Severability</h2>
                    <p>
                        If a provision of these terms and conditions is determined by any court or other competent authority to be unlawful and/or unenforceable, the other provisions will continue in effect. If any unlawful and/or unenforceable provision would be lawful or enforceable if part of it were deleted, that part will be deemed to be deleted, and the rest of the provision will continue in effect.
                    </p><br>
                    <h2 style="font-size: 2rem;">Entire Agreement</h2>
                    <p>
                        These terms and conditions, together with Law Suite’s Privacy Policy, constitute the entire agreement between you and Law Suite in relation to your use of this website and supersede all previous agreements in respect of your use of this website.
                    </p><br>
                    <h2>Law and Jurisdiction</h2>
                    <p>
                        These terms and conditions will be governed by and construed in accordance with the laws of the jurisdiction of India, and any disputes relating to these terms and conditions will be subject to the exclusive jurisdiction of the courts of India.
                    </p><br>
                </div>
            </div>
        </div>
        

        <hr class="separator-line" data-scroll-section>

        <!-- Footer  -->
        <footer class="footer" data-scroll-section>
            <div class="footer-content">
                <div class="footer-section-head">
                    <h4>Law <span style="color: #37d151;">Suite</span></h4>
                    <p>Unlock <em>Justice</em> in a snap</p>
                    <p>&copy Law Suite 2024</p>
                </div>
                <div class="footer-section legal">
                    <h4><span style="color: #ec780a;">Legal</span></h4>
                    <ul>
                        <li><a href="terms">Terms of use</a></li>
                        <li><a href="https://www.mha.gov.in/en" target="_blank">Ministry of Home Affairs</a></li>
                        <li><a href="https://www.mha.gov.in/en/commoncontent/new-criminal-laws" target="_blank">New
                                Criminal Laws</a></li>
                        <li><a href="https://ecourts.gov.in/ecourts_home/" target="_blank">eCourt</a></li>
                        <li><a href="https://filing.ecourts.gov.in/pdedev/" target="_blank">eFilling Service</a></li>
                    </ul>
                </div>
                <div class="footer-section company">
                    <h4><span style="color: #ff00ff;">Company</span></h4>
                    <ul>
                        <li><a href="about">About</a></li>
                        <li><a href="contact">Contact Us</a></li>
                    </ul>
                </div>
                <div class="footer-section socials">
                    <h4><span style="color: rgb(103, 123, 255);">Socials</span></h4>
                    <ul>
                        <li><a href="#">GitHub</a></li>
                        <li><a href="https://www.linkedin.com/in/daksh-deep-791a1a298/" target="_blank">Daksh's LinkedIn</a></li>
                        <li><a href="https://www.linkedin.com/in/yashvi-arya-1455a7230/" target="_blank">Yashvi's LinkedIn</a></li>
                    </ul>
                </div>
            </div>
        </footer>

        <!-- -- Scroll to top button --  -->
        <button id="scroll-to-top-btn" title="Go to top">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor"
                class="w-6 h-6">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 10l7-7m0 0l7 7m-7-7v18">
                </path>
            </svg>
        </button>


        <!-- JavaScripts -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"
            crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@3.5.4/dist/locomotive-scroll.min.js"></script>
        <!-- <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@beta/bundled/locomotive-scroll.min.js"></script> -->
        <script src="../static/script.js"></script>
</body>

</html>